{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.json"],
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "always",
        "printWidth": 80
      }
    }
  ]
}
